#root {
  margin: 0;
}

:not(:root):fullscreen::backdrop {
  background-color: white;
}

html, body {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  width: 100vw;
}

.control-panel {
  background-color: #f5f5f5;
  border-right: 1px solid #e0e0e0;
  padding: 4px 8px;
  overflow-y: auto;
}

.anti-cheat,
.content {
  height: 100%;
}

.content {
  padding: 4px 8px;
  background-color: #c6e6c7;
}

.form-group {
  margin-bottom: 8px;
}

.checkbox-with-label {
  display: flex;
  align-items: center;
  & > label {
    margin-left: 0.5rem;
  }
}

iframe {
  border: 1px solid black;
  border-radius: 4px;
  width: 300px;
  height: 200px;
}

.control-panel {
  input,
  .p-dropdown,
  .p-inputnumber,
  button {
    width: 100%;
  }
  h4 {
    margin-bottom: 0.2rem;
    margin-top: 0.7rem;
  }
  h5 {
    margin-bottom: 0.2rem;
    margin-top: 0.5rem;
  }
}
h4 {
  margin-top: 0.5rem;
}
